# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore IDE-specific directories
.idea/

# Ignore environment files
.env
*.env

# Ignore virtual environments
venv/
env/

# Ignore other unwanted files
*.log
.DS_Store
